@import './null.scss';

/////////////////////////////////////////////////////
///import                                         ///
/////////////////////////////////////////////////////

/////////////////////////////////////////////////////
///variables
///end-variables
/////////////////////////////////////////////////////

/////////////////////////////////////////////////////
///global

///end-global
/////////////////////////////////////////////////////


/////////////////////////////////////////////////////
///BODY 
.custom-styling-remove-button{
    padding: 5px;
    background-color: rgb(221, 28, 28);
    color: rgb(255, 255, 255) !important;
    border-radius: 5px;
}
///END_BODY                                     
////////////////////////////////////////////////////